* {
	padding: 0px;
	margin: 0px;
	border: none;
    box-sizing: border-box;
}

/* Подключение шрифтов */
@font-face {
    font-family: 'Unbonded';
    src: url('fonts/Unbonded.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url('fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Semi Bold';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Unbounded-Bold';
    src: url('fonts/Unbounded-Bold.ttf') format('truetype');
    font-weight: 600;
}


/* Переменные CSS */
:root {
    --primary-color: #90c837;
    --secondary-color: #5a9e00;
    --gradient-start: #b4e841;
    --gradient-end: #5ca403;
    --font-size-large: 4rem;
    --font-size-medium: 1.5rem;
    --font-size-small: 1rem;
    --header-height: 7.875rem; /* 126px в rem */
    --banner-height: 5.9375rem; /* 95px в rem */
    --additional-block-height: 4.0625rem; /* 65px в rem */
    --header-width: 71.9375rem; /* 1151px в rem */
}

/* Глобальные стили */
html {
    overflow-x: hidden;
}
body {
    
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Semi Bold', sans-serif;
    line-height: 1.6;
    /* overflow-x: hidden;  */

    opacity: 0;
    transition: opacity 2s ease;

}
.global{
    width: 1170px;
  
    left: 0;
    right: 0;
    margin: 5px auto;
}

/* Баннер */
.promo-banner {
    width: 100%;
    max-width: 100%;

    background: rgb(163,198,38);
    background: linear-gradient(30deg, rgba(163,198,38,1) 26%, rgba(63,171,60,1) 71%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 1rem;
}
.promo-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem; /* 10px в rem */
    box-sizing: border-box;
    width: 100%;
    max-width: var(--header-width);
}

.promo-column {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap; /* Предотвращает перенос текста */
    flex-shrink: 0;
}

.promo-column-1 {
    font-family: 'Unbounded-Bold', sans-serif;
    font-size: clamp(20px, 6vw, 80px); /* var(--font-size-large)*/
    color: #fff343;
    text-align: left;
    margin-right: 0.125rem; /* 10px в rem */
}

.promo-column-2 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: clamp(5px, 2.4vw, 29px);/* var(--font-size-medium) */
    text-align: left;
    line-height: 1.2;
    color: #ffffff;
    margin-right: 0.125rem; /* 10px в rem */
}

.promo-column-4 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: clamp(5px, 2.4vw, 29px);
    text-align: right;
    line-height: 1.2;
    color: #ffffff;
    margin-right:0rem;
}

.promo-column-3 {
    display: flex;
    align-items: center;
}

.promo-column-3 img {
    height: clamp(10px, 5.5vw, 60px); /* 60px в rem */
    width: auto;
}
/* Баннер */




/*↓  ИСПРАВЛЕННЫЙ ТОП ↓  */


.sticky-head{
    padding-top: 0px;
    position: sticky;
    top: 0; /* Блок прилипает к верху страницы при прокрутке */
    z-index: 1001;
}

 .grid-additional-block {
    margin: 0;
     /* Высота 100% экрана */
    display: flex;
    /* display: none; */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    background-color: #f0f0f0;
    margin-bottom: clamp(5px, 2.120vw, 24px);
 }
 
 .grid-additional {
    grid-template-areas:"fone getfone present getcom";
    overflow-wrap: anywhere;
    display: grid;
    grid-template-columns: minmax(100px, 1.7fr) repeat(3, 1fr);   
    max-width: 1151px; /* Максимальная ширина контейнера */
    width: 100%; /* Занимает всю доступную ширину до 1151px */
    padding: 0px; /* Внутренние отступы для контейнера */
    box-sizing: border-box; /* Учитываем padding в ширине контейнера */
}
.grid-additional button {    
    padding-top: 5px;   
    padding-bottom: 3px; 
}
.grid-additional button img{    
    width: clamp(18px, 4.170vw, 45px);
    margin-left: 5px;
}


.grid-additional  button:hover {
    background: linear-gradient(45deg, #84dd1d, #c4e0e5);
    cursor: pointer; } 

.gridFormBtn,.gridAddBtn,.gridGetComm{
    transition: background 3s ease;
    font-size:clamp(5px, 0.798vw, 15px);
    background: rgb(163, 198, 38);
    background: linear-gradient(30deg, rgba(163, 198, 38, 1) 26%, rgba(63, 171, 60, 1) 71%);
    text-decoration: none;
    display: grid;
    grid-template-columns: 28% 72%;
    align-items: center;
    position: relative;
  }
  .gridSubApplication{
    display: none;
  }
.gridFoneBtn{grid-area: fone; 
font-size:  clamp(10px, 2.074vw, 39px);
text-decoration: none;
display: grid;
grid-template-columns: 12% 88%;
align-content: space-around;
position: relative;
background-color: #f0f0f0;
}

.gridaddimg{
    justify-self:end;
    align-self: center;
 }
.gridaddimgFone{
    display: grid;
 
}
.gridaddimgFone img{
    object-fit: cover;
    justify-self:center;
    align-self: center;
}

.gridFoneBtn{grid-area: fone; }

.gridFormBtn{grid-area: getfone; }

.gridAddBtn{ grid-area: present;}

.gridGetComm{grid-area: getcom;
}

    .gridaddspan{
        font-family: 'Montserrat Semi Bold', sans-serif;
        color: rgb(0, 0, 0);
        white-space: nowrap;   
        justify-self:center;
        align-self: center;
    }
    .gridaddspan h2{
        font-family: 'Montserrat Semi Bold', sans-serif;
font-size:clamp(10px, 3.419vw, 39.5px);
padding-bottom: 1px;
    }
    .gridaddspan p{
        font-family: 'Montserrat Semi Bold', sans-serif;
font-size:clamp(7px, 1.303vw, 15px);
    }


/*mobile скрытые ФОРМА КНОПОК ЗАКАЗАТЬ ЗВОНОК_ ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ */

        .grid-additional_mobile {
            display: none;
        }
        .grid-additional_mobile button {    
display: none;
        }
        .grid-additional_mobile button img{    
display: none;
        }
        /* .grid-additional_mobile  button:hover {
display: none;} */
     /*mobile  ФОРМА КНОПОК ЗАКАЗАТЬ ЗВОНОК_ ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ */
/*↑ ИСПРАВЛЕННЫЙ ТОП ↑  */

/* MENU */
.mobile_menu{ 
display: none;
}
.mobile_logo{ 
    display: none;
}
   .get_items_menu{
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    position: absolute;
    box-shadow: none;
    /* margin-bottom: clamp(10px, 5.213vw, 60px); */
    position: relative;
}

.items_menu{
    display: grid;        
    width: 1151px;
    grid-template-columns: minmax(100px, 1.7fr) repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "logo T T T"
      "logo B B B";
      padding-right: 5px;
}
.items_menu a{
font-family: 'Montserrat Semi Bold', sans-serif;
font-size: clamp(5px, 2.172vw, 25px);

text-decoration: none;
color: #000000;
margin-left: clamp(3px,1.998vw, 23px);
transition: color 0.3s ease;
white-space: nowrap;
}
  .left_img_logo {
    grid-area: logo;
    display: grid;
    align-self: end;
   
  
  }
  .left_img_logo img{
    grid-area: logo;
    width:95%;
    padding-left:clamp(2px,0.869vw, 10px) ;
    align-content: end;
  }
  
  .ul_menu_top {
    grid-area: T;
    justify-self: end;
    align-self: end;
  }

  .ul_menu_bottom {
    grid-area: B;
    justify-self: end;
    align-self: start;
  }
  /* MENU */
  .mob_transfer{
    display: none;
}



  /* Новый контейнер для "Финансовая Аналитика" */
.analytics-container {
    width: 100%;
    max-width: 100%; /* 1151px в rem */
    margin: 0 auto;
    padding-bottom:0; /* Отступы сверху и снизу */
    text-align: center;
}
.analytics-container img{
    width: clamp(300px, 82.276vw, 947px);
    height: auto;
    /* border-radius: 15px; */
}
.analytics-title h1{
    font-size: clamp(14px, 5.213vw, 60px);
    font-family: 'Unbounded-Bold', sans-serif;
    white-space: nowrap; 
    background: rgb(163,198,38);
    background: linear-gradient(30deg, rgba(163,198,38,1) 26%, rgba(63,171,60,1) 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom:clamp(10px,1.738vw, 20px);
    padding-top:clamp(10px,1.738vw, 20px);
}
.analytics-image img {
    max-width: 100%;
    height: auto;
    padding-bottom:clamp(10px,1.738vw, 20px);
    padding-top:clamp(10px,1.738vw, 20px);
}
/* Новый контейнер для "Финансовая Аналитика" */




/* VIDEO*/
.analytics-video {
    position: relative;
    width:clamp(300px,82.276vw, 947px); /* Фиксированная ширина */
    margin: 0 auto; /* Центрирование блока */
    overflow: hidden;
    background: #ffffff;
    border-radius: 15px; /* Скругление углов */
    scroll-snap-align: start;
    padding-bottom:clamp(10px,1.738vw, 20px);
    padding-top:clamp(10px,1.738vw, 20px);
}

.analytics-video video {
    width: clamp(300px,82.276vw, 947px); /* Растягиваем видео на всю ширину контейнера */
    height: auto; /* Сохраняем соотношение сторон видео */
    border-radius: 15px; /* Скругление углов видео */
}
/* VIDEO*/


/* ПЛАШКИ */
.gets_items {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    position: absolute;
    box-shadow: none;
    margin-bottom:clamp(10px,1.738vw, 20px);
    margin-top:clamp(10px,1.738vw, 20px);
    box-sizing: border-box;
    /* margin-bottom: clamp(10px, 5.213vw, 60px); */
    position: relative;
    background: rgb(163,198,38);
    background: linear-gradient(30deg, rgba(163,198,38,1) 26%, rgba(63,171,60,1) 71%);
    clip-path: polygon( 0% 0%,100% 0%,100% 75.228%,52.871% 75.228%,52.871% 75.228%,52.735% 75.292%,52.603% 75.485%,52.475% 75.805%,52.351% 76.254%,52.231% 76.83%,52.115% 77.533%,52.003% 78.364%,51.896% 79.321%,51.792% 80.404%,51.692% 81.615%,50.482% 97.453%,50.482% 97.453%,50.399% 98.37%,50.309% 99.083%,50.213% 99.592%,50.113% 99.898%,50.01% 100%,49.908% 99.898%,49.808% 99.593%,49.712% 99.084%,49.621% 98.37%,49.539% 97.453%,48.328% 81.615%,48.328% 81.615%,48.229% 80.404%,48.125% 79.32%,48.017% 78.363%,47.905% 77.532%,47.789% 76.829%,47.669% 76.253%,47.545% 75.805%,47.417% 75.485%,47.286% 75.292%,47.15% 75.228%,0% 75.228%,0% 0% );
}

.grid_items{
    position: relative;
    display: grid;
    grid-template-columns: 21% 50% 21%;
    justify-content: space-between;
    width: 1151px;
}
.left_img_item img{
width: 100%;
}
.right_img_item img{
    width: 100%;
        }
.title_item{
    justify-self: center;
    align-self: start;
    padding-top:clamp(10px, 2.606vw, 30px);
    padding-bottom:clamp(10px, 5.213vw, 60px);
}
.title_item h2{
    font-family: 'Unbounded-Bold', sans-serif;
    font-size:  clamp(10px, 3.215vw, 37px);
}

.items-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom:clamp(10px,1.738vw, 20px);
    padding-top:clamp(10px,1.738vw, 20px);
}
.items-container i{
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: clamp(5px, 2.232vw, 25px);
    font-style: italic; 
}
.items-container h3{

    font-size: clamp(13px, 3.997vw, 46px);
    font-family: 'Unbounded-Bold', sans-serif;
    white-space: nowrap;
    background: linear-gradient(30deg, rgba(163, 198, 38, 1) 26%, rgba(63, 171, 60, 1) 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    line-height: 1; 
}

/* ТЕКСТ В КНОПКЕ В ОСНОВНЫХ ЗАПРОСАХ */
.button-big{
    flex-grow: 1;
    font-family: 'Unbonded', sans-serif;
    font-size: clamp(20px, 3.258vw, 37.5px);
    color: #ffffff;
    text-align: center;
}
.button-big p{
    flex-grow: 1;
    font-family: 'Unbonded', sans-serif;
    font-size: clamp(20px, 3.258vw, 37.5px);
    color: #ffffff;
    text-align: center;
}

.button-small{
    font-family: 'Unbonded', sans-serif;
    font-size: clamp(15px, 2.172vw, 25px);
    color: #000000;
    text-align: center;
    flex-grow: 1; 
}

.get-grand 
{
    font-size: clamp(0.8rem, 2vw, 1.8rem);
    padding-left: 3%;
    white-space: nowrap;   
    text-align: left;
} 
.get-small{
    font-size: clamp(0.223rem, 1vw, 0.86rem);
    white-space: nowrap;
}
    
.get-box img{
position: absolute;
right: 0;
margin-right: 5%;
width: clamp(60px, 7vw, 86px);
}
/*КНОПКА, НЕ ТРОГАТЬ!*/
   .get {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    padding-bottom:clamp(10px,1.738vw, 20px);
    padding-top:clamp(10px,1.738vw, 20px);
    position: relative;
    box-sizing: border-box;
}
.btget{  
    background: #ffffff;
    display: flex;
    justify-content:center;
    box-shadow: none;    
}
.btget span{
    width:150px;
    margin:100px 0 100px 0;
}
.btn-btget {
    padding: 3% 6%;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    line-height: 1.2;   
    border-radius: 10px;
    background-color: #93c01f;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #ffffff;
    text-align: center;
}
/*  */
.block-analytics-container {
    height: 100%;
    width: 100%;
    max-width:1151px; /* 1151px в rem */
    margin: 0 auto;
    padding: 0rem 0; /* Отступы сверху и снизу */
    text-align: center;
    position: relative;
}

  .btn {
    display: inline-block;
    padding: 0.7% 4%;
    font-family: 'Unbonded', sans-serif;
    font-size: clamp(1px, 4vw, 25px);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
   line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;   
    border-radius: 10px;
    background-color: #93c01f;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn h2{
    flex-grow: 1;
    font-family: 'Unbonded', sans-serif;
    font-size:clamp(22px, 3.910vw, 45px);
    color: #ffffff;
    text-align: center;
}

/* ЭТАПЫ РАБОТЫ */

.work-stages {
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
    width: 1151px;
    justify-content: center;
    align-content: center;
    max-width:100%;
    
}
.arrow-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 2% 0 2%;
  
}
.left_stages{
    flex-direction: row-reverse;
}

.box {
    max-width: 50%;
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: clamp(10px, 1.8vw, 20px);
    display: flex;
    flex-direction: column;
    padding:5px;
    white-space: nowrap;  
    }
.stages_left {
    display: flex;        
    align-items: flex-end;
    text-align: right;
     
    }
   .stages_left span{
        display: flex;
        
       justify-content: end;
       text-align: right;
      flex-direction: rov-reverse;
        }


.box img{
    width: clamp(20%, 100vw, 100%);

}

.arrowspan{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 10%;
    text-align: left;
}
/* НАШИ КЕЙСЫ */
.case {
    display: flex;
    justify-content:center;
    max-width: 100%;
    width: 1151px;
    margin: 0 auto;
    padding-top: clamp(40px, 8.688vw, 90px);
    padding-bottom:clamp(10px, 5.213vw, 60px) ;
    box-sizing: border-box;

 
}


.case-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;  
    flex-wrap: wrap;
    width: 970px;
    max-width: 90%;    
 
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
 }

 .case-container::before{
    content: "";
   background: no-repeat;
    position: absolute;
    z-index: 1;
    left: -4px;
    top: clamp(-135px, -11.729vw, -45px);
  
    background-position: center;
  width: clamp(10px, 8.949vw, 110px);
  height: clamp(10px,  7.5vw, 91.84px);
    background-image: url("imgs/case_img.png");
     background-size: cover;
}
.head-case{
   display: flex;
   position: absolute;
    top:clamp(-100px, -8.688vw, -35px);                                  /*    8.688vw */
    overflow: visible;
    max-width:95%;
    width: 909px;   
  
    border-radius: 20px;
    background-color: #d8d9d9;
    justify-content: space-around;
    clip-path: polygon( 100% 9.249%,100% 76.048%,100% 76.048%,99.976% 77.542%,99.907% 78.963%,99.796% 80.288%,99.648% 81.501%,99.466% 82.58%,99.254% 83.506%,99.016% 84.26%,98.755% 84.823%,98.476% 85.175%,98.182% 85.297%,55.903% 85.297%,55.903% 85.297%,55.802% 85.309%,55.703% 85.347%,55.607% 85.411%,55.512% 85.5%,55.42% 85.617%,55.329% 85.76%,55.239% 85.93%,55.15% 86.129%,55.061% 86.355%,54.973% 86.61%,51.036% 98.652%,51.036% 98.652%,50.857% 99.137%,50.674% 99.514%,50.487% 99.784%,50.297% 99.945%,50.106% 99.999%,49.916% 99.945%,49.726% 99.784%,49.539% 99.514%,49.355% 99.137%,49.176% 98.652%,45.24% 86.61%,45.24% 86.61%,45.152% 86.355%,45.063% 86.129%,44.974% 85.93%,44.884% 85.76%,44.793% 85.617%,44.7% 85.5%,44.606% 85.411%,44.51% 85.347%,44.411% 85.309%,44.309% 85.297%,1.818% 85.297%,1.818% 85.297%,1.524% 85.175%,1.245% 84.823%,0.985% 84.261%,0.746% 83.506%,0.534% 82.58%,0.352% 81.501%,0.204% 80.289%,0.093% 78.963%,0.024% 77.543%,0% 76.048%,0% 9.249%,0% 9.249%,0.024% 7.754%,0.093% 6.334%,0.204% 5.008%,0.352% 3.796%,0.534% 2.717%,0.746% 1.791%,0.985% 1.036%,1.245% 0.474%,1.524% 0.122%,1.818% 0%,98.182% 0%,98.182% 0%,98.476% 0.122%,98.755% 0.474%,99.016% 1.037%,99.254% 1.791%,99.466% 2.717%,99.648% 3.796%,99.797% 5.009%,99.907% 6.334%,99.976% 7.755%,100% 9.249% );
}
.text-head{   
    display: grid;
    padding-top: 1.198vw;
    padding-bottom:1.8vw; 
   
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: auto;
	grid-template-areas: "sidebar gap main ";
    
}
.casespan span h2{
    font-family:'Montserrat-ExtraBold';
    font-size: clamp(7px, 1.738vw, 20px);
    line-height: 1.2;
    white-space: nowrap; 

}
.casespan p{
    font-family: 'Montserrat-SemiBoldItalic';
    font-size:clamp(5px, 1vw, 15px);
    font-style: italic;
    white-space: nowrap; 
   text-align: left;
   padding-bottom: 5px;

}
.casespan_shop  h2{
    font-family:'Montserrat-ExtraBold';
   font-size: clamp(5px,2.6vw,25px);
   line-height: 1.2;
   white-space: nowrap; 
}

.casespan_shop p{
    font-family: 'Montserrat Semi Bold';
    font-size:clamp(5px, 1vw, 15px);
    white-space: nowrap; 
   text-align: left;
   padding-bottom: 5px;
   font-style: normal;

}
.casespan h3{
    font-family: 'Montserrat Semi Bold';
    font-size:clamp(7px, 1.825vw, 20px);
    white-space: nowrap; 
   text-align: left;
line-height: 1.2;

}
.caseimg{
    grid-area: sidebar; 
    justify-self: end;
    margin-right:2.86vw;
}
.casespan{
    grid-area: main; 
    justify-self: start;
    margin-left:2.86vw;/*54 px*/
  }
.caseimg img{ 
width: clamp(100px, 27.386vw, 308px);

}
.case-text{
    display: grid;
    margin-top:clamp(30px,6.979vw, 70px);/*6.979vw*/
    margin-bottom: 10px;
    width: 955px;
    max-width:90%;
    overflow-wrap: anywhere;
    gap:0.952vw 2.292vw ;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
	grid-template-areas: "header header"
						 "main   sidebar";
    line-height: 1.3;

   
}
.case-text-shopogolik{
    display: grid;
    margin-top:clamp(30px,6.979vw, 70px);/*6.979vw*/
    margin-bottom: 10px;
    width: 955px;
    max-width:90%;
    overflow-wrap: anywhere;
    gap:0.952vw 2.292vw ;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
	grid-template-areas: "header main"
						 "sidebar  sidebar";
    line-height: 1.3;

   }
.case-text li{
    font-family:'Montserrat Semi Bold';
    font-size:  clamp(12px, 0.977vw, 18px);
}
.case-text-shopogolik li{
    font-family:'Montserrat Semi Bold';
    font-size:  clamp(12px, 0.977vw, 18px);
}
.list_a {
     grid-area: header;  
    
    
    }
.list_b {
     grid-area: main; 
      
    }
.list_c { 
    grid-area: sidebar; 
  
}



ul {
    list-style-type: disc; /* Тип маркера для списка */
    padding-left: 20px;
    padding-right: 20px;
    
   
    }
    
ol {
    /* Тип маркера для списка */
    padding-left: 20px;
   
    }
    .list-a{
      
       padding: 10px;
    }
    .list-b{
       
      
       padding: 10px;
    }
    .list-c{
    
      
        padding: 10px;
        
    }
.colortext{
        color: rgba(63,171,60,1);}
   
   

   .listtitle{     
    font-family: 'Montserrat-ExtraBold';  
    line-height: 0.8;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: clamp(9px, 1.564vw, 18px);
        }

        
    .dedicatedntext{
        font-family: 'Montserrat-ExtraBold';
        font-size: clamp(10px, 1.502vw, 18px);
        
    }


    /* СТИЛИ ДЛЯ КНОПОК АНАЛИТИКИ ↓ */


    .grid-analytics-container {
     display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 20px ;
        padding-right: 20px ;
        box-sizing: border-box;
        margin-bottom: clamp(10px, 1.738vw, 20px);
        margin-top: clamp(10px, 1.738vw, 20px);
     padding-bottom: clamp(10px, 1.738vw, 20px);

    }
    .grid-bloc-container {
        display: flex;
      justify-content: center;

        width: 100%;
        max-width: 1050px;
    }



    .grid-column{   
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:"ga gd"
                            "gb ge"
                            "gc gf";
        max-width: 100%;
        width:  100%;
        overflow-wrap: anywhere;
        gap:clamp(5px,  3.041vw, 35px) clamp(4px,  4.431vw, 51px) ;
       
}


.grid-btn_a,.grid-btn_b,.grid-btn_c,.grid-btn_d,.grid-btn_e,.grid-btn_f{
    /* background: rgb(163, 198, 38); */
    background: linear-gradient(30deg, rgba(163, 198, 38, 1) 26%, rgba(63, 171, 60, 1) 71%);
    transition: background 1s ease;

   
    text-decoration: none;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    position: relative;

}
.grid-btn_a{
    grid-area: ga; 

}.grid-btn_b{
    grid-area: gb; 

}.grid-btn_c{
    grid-area: gc;
}.grid-btn_d{
    grid-area: gd; 

}.grid-btn_e{
    grid-area: ge; 

}.grid-btn_f{
    grid-area: gf; 

}

.grid-column button:hover {
    background: linear-gradient(45deg, rgba(63, 171, 60, 1), rgba(163, 198, 38, 1));

    cursor: pointer; } 


.bt-text{
 
    font-family: 'Montserrat-ExtraBold', sans-serif;
    color: white;
    
    padding-left: 8%;
    white-space: nowrap;   
    text-align: left;
    line-height: 1.5;
}
.bt-text p{
    font-size: clamp(2px, 2.571vw, 27px);
    line-height: 1.5;
    padding: clamp(17px,3.215vw, 37px) 0;
 }
 .bt-text h3{
    font-size: clamp(10px,3.562vw, 41px);
    line-height: 1.2;
    padding: clamp(17px,3.215vw, 37px) 0;
 }
 .grid-btn_c h3{
    line-height: 0.9;
 }

.bt-img{
object-fit: cover;
justify-self:end;
align-items: center;
padding:  clamp(2px,0.878vw, 16px);


}
.bt-img img{
    width:  clamp(40px, 10.426vw, 120px);
    padding-right: 5px;
    }

.get-small{
    font-size: clamp(3px, 1.064vw, 20px);
    white-space: nowrap;
}
/* СТИЛИ ДЛЯ КНОПОК АНАЛИТИКИ ↑ */


.grid-requests-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1151px;
}


.grid-requests{   
    display: grid;
    grid-template-columns: 46% 47%;
    grid-template-rows: auto;
    grid-template-areas:"LT RT";
    max-width: 100%;
    width:  100%;
    overflow-wrap: anywhere;
    gap:10% ;
}

.left-requests {
    grid-area: LT;
     display: grid;
     grid-auto-rows: auto;
    grid-template-areas:
                    "A A A A A   A A A A B"
                    "C C C C C   C C C C C"
                    "D D  E E E E E E  F F"
                    "N N N N N  N N N N N"
                    "Q Q Q Q Q   Q Q Q I I"
                    "S S S S S   S S S S S"
                    "K K  L L L L L L  M M"; 
    max-width: 100%;
    white-space: nowrap;  
    gap: 5px 1px;
  }
 

  .left-requests p {
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size:  clamp(10px, 2.5vw, 29.17px);
    line-height: 1.1;
  }
  .left-requests h2{
   letter-spacing: .2rem;   /*  Межбуквенный интервал увеличен */
    font-size: clamp(5px, 4.170vw, 48px);
    font-family: 'Unbounded-Bold', sans-serif;
    white-space: nowrap;
    background: rgb(163, 198, 38);
    background: linear-gradient(30deg, rgba(163, 198, 38, 1) 26%, rgba(63, 171, 60, 1) 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
   
  }
  .left-requests h3{
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: clamp(13px, 2.346vw, 27px);
    line-height: 1.3;
  }


  .right-requests {
    grid-area: RT;
    display: grid;
    flex-direction: column;
    max-width: 46%;
    white-space: nowrap;
}

.right-reqimg{
   display: grid;
    max-width: 100%;
    align-items: end;
    justify-content: end;

}

.right-reqimg img{
justify-self: center;
width: 85%;
}


.develop_br{
    grid-area: N;
}
  .develop {
    grid-area: A;
    justify-self: start;
    text-align: center;
}
.develop p {
    font-family: 'Montserrat Semi Bold', sans-serif;

}

  .develop_img {
    grid-area: B;  
    display: grid;
    width: 100%;
    align-content: start;
    justify-content: end;
  }
  
  .develop_img img{
    
     align-self: center;
  }
  .helper {
    grid-area: C;
    justify-self: center;
    text-align: center;
  }
  .img_setting{
    grid-area: D;
    display: grid;
    justify-self: start;
    align-content: center;
} 
.img_setting img{
    width: clamp(45px, 7.732vw, 89px);
}
.setting_img img{
    align-self: center;
    width: clamp(45px, 7.732vw, 89px);
  }
 .left-requests img {
    width: clamp(45px, 7.732vw, 89px);
     } 
     .develop_img img {
        align-self: center;
        width: clamp(25px, 4.240vw, 49px)
    }
    .img_set img{
        align-content: center;
}
    .img_set{
        grid-area: K;
        justify-self: start;
        align-self: end;
}
  .setting {
    grid-area: E;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
 
  .setting_img {
    grid-area: F;
    justify-self: end;
    
    align-self: center;
  }


  .ques {
    grid-area: Q;
    align-self: center;
    justify-self: start;
    /* margin-top: 10px; */
  }
  .ques p{
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: clamp(14px, 2.433vw, 28px);
    line-height: 1.4;

  }
  .ques_img {
    grid-area: I;
    display: grid;
    align-self:center;
    justify-self: end;
  }
  .ques_img img{
    width: clamp(45px,7.472vw, 86px)
   
  }

  .sees{
    grid-area: S;
    justify-self: center;
    align-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.set{
    grid-area: L;
    justify-self: center;
    text-align: center;
    align-self: self-start;
}
.set_img{
    grid-area: M;
    justify-self: end;
    align-self: end;
}
/* PEAPLE */
.case-peaple {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    width: 970px;
    margin: 0 auto;
    padding-top:30px;
    padding-bottom: 1vw;
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;
}
.peaple-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    width:1151px;
    max-width: 98%;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;}

    .grid-peaple {
        display: grid;
        grid-template-columns: 25% 74.8%;
        grid-template-rows: auto;
        grid-template-areas: "LT RT";
        max-width: 100%;
        width: 100%;
        overflow-wrap: anywhere;
        position: relative;
    }
    .right-peaple {
        grid-area: RT;
        display: grid;
        flex-direction: column;
        max-width: 100%;
        line-height: 1.2;
        padding-bottom: 10px;
        padding-right: 20px;
     
      }
      .right-peaple h2{
        padding-top: 20px;
        font-family: 'Montserrat-ExtraBold', sans-serif;
        font-size: clamp(10px, 3.128vw, 37px);
        white-space: nowrap;
        background: rgb(163, 198, 38);
        background: linear-gradient(30deg, rgba(163, 198, 38, 1) 26%, rgba(63, 171, 60, 1) 71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1;
      }

    .right-peaple h3{
        font-family: 'Montserrat-ExtraBold', sans-serif;
        font-size:clamp(10px, 1.810vw, 20.83px);       
        /* white-space: nowrap; */
         line-height: 1.3;}
.right-peaple p{
        font-family: 'Montserrat Semi Bold', sans-serif;
        padding-right: clamp(2px,0.521vw, 5px);
        /* white-space: nowrap; */
        line-height: 1.3;
        font-size: clamp(9px,1.825vw, 19px);
        word-wrap: break-word; 
    }
    .right-peaple ul{       
        padding-bottom: 10px;       
        width: 100%;
    }
    .right-peaple ul li{
        word-wrap: break-word;
        width: 100%;       
    }

    .left-peaple-img {
        grid-area: LT;
        max-width: 100%;
        white-space: nowrap;
        /* position: relative; */
        display: flex;
        flex-direction: column;
    }
.peaple-img img{
    transform: translate(-15px, -15px);
    overflow: visible;
    max-width: 100%;
    width: calc(100% + 6vw);
    -webkit-box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    border-radius: 30px; 
    
    }
    .image-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px; /* Радиус для тени */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Настройки тени */
        pointer-events: none;
      }
    .soc_icons{      
            display: flex;
            grid-auto-flow: row;
            justify-content: center;
            /* position: absolute;  */
            /* bottom: clamp(5px, 1.303vw, 15px); */
            /* right: clamp(7px, 1.738vw, 30px); */
            /* width: 70%; */
            transform: none;
       
        }
        .soc_icons a{      
padding: 10px;
/* margin: 0 auto; */
/* position: absolute; */
        }
        .soc_icons img{      
            /* padding: 10px; */
            /* position: relative; */
                    }
.soc_icons img{
      width: clamp(20px, 3.475vw, 40px);
      /* padding: clamp(2px, 0.434vw, 5px); */
}

.employees-container {
            position: relative;
            display: grid;
            grid-template-columns: 26% 38% 26%;
             justify-content: end; 
            ;
            /* justify-items: end; */
            width: 1018px;
            gap:clamp(15px, 3.571vw,40px);
}
.left-employees{
    border: 2px solid black; 
    border-radius: 20px;
    display: grid;  
    position: relative;
    grid-template-rows: 60% 40%;
    gap: clamp(1px,3.571vw, 40px);
    
}
.top-employees{
    border: 2px solid black; 
    border-radius: 20px; 
    display: grid;
    grid-template-rows: 60% 40%;
    gap: clamp(1px,3.571vw, 40px);
    /* gap: 10px; */
    justify-items: center;
    align-self: start;
   
}
.right-employees{
    border: 2px solid black; 
    border-radius: 20px;
    display: grid;
    grid-template-rows: 60% 40%;
    gap: clamp(1px,3.571vw, 40px);
    /* justify-self: start; */
    /* gap: 10px; */
}

.employees-img{
    max-width: 100%;
    border-radius: 30px;
    /* border: 2px solid rgb(247, 247, 247);  */
}

.employees-name{    
    justify-self: center;
    text-align: center;
}
.employees-name h3{
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: clamp(10px,2.232vw, 25px);  
    line-height: 1.2;
    padding-bottom: clamp(2px, 0.893vw, 10px);
    padding-top: clamp(2px, 1.786vw,20px);
    /* clamp(1px, 1.607vw, 18px) */
}
.employees-name p{
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size:  clamp(7px, 1.607vw, 18px); 
    line-height: 1.2;
    position: inherit;
}


.left-employees img{
    width: clamp(50px,22.321vw,230px);
    position:inherit;
    margin: clamp(-20px,-2.679vw,-10px);
    -webkit-box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    border-radius: 20px;
}

.top-employees img{
    width: clamp(50px,22.321vw,230px);
    position: inherit;
    margin-top:clamp(-20px,-2.679vw,-10px);
    -webkit-box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1); 
    border-radius: 20px;
}
.right-employees img{
    width: clamp(50px,22.321vw,230px);
    position: inherit;
    margin: clamp(-20px,-2.679vw,-10px);
    -webkit-box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);
    box-shadow: 5px 7px 19px -7px rgba(66, 68, 90, 1);  
    border-radius: 20px;
}
.gradient_text {
    color: rgba(63, 171, 60, 1);

        background: rgb(163, 198, 38);
        background: linear-gradient(30deg, rgba(163, 198, 38, 1) 26%, rgba(63, 171, 60, 1) 71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
}
.footer {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: none;
    margin-top:clamp(10px,1.738vw, 20px);
    position: relative;
    background: rgb(163, 198, 38);
    background: linear-gradient(30deg, rgba(163, 198, 38, 1) 26%, rgba(63, 171, 60, 1) 71%);
}
.footer_grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
      /* margin-left: 10px; */
    margin-right: 10px;
    max-width: 1170px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.title_footer_grid  {
        display: flex;
        justify-content: center;
        align-self: start;
        width: 100%;

} 
.title_footer_grid  h3{  
    
    font-family: 'Unbonded', sans-serif;
   font-size: clamp(10px, 3.348vw, 37.5px);
  line-height: 1.2;
    margin-bottom: clamp(10px,3.661vw, 41px);
    padding-top: clamp(2px, 1.786vw,20px);
    color: #ffffff;
    /* clamp(1px, 1.607vw, 18px) */
}
.footer_contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-areas:
                    "A B C";   
    white-space: nowrap;
    width:100%;
    max-width:1051px;
    justify-content: center;
}
.footer_contacts p{
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: clamp(5px, 2vw, 25px);
    line-height: 1.2;
    padding-bottom: clamp(10px, 1.786vw, 20px);
    padding-left:  clamp(1px, 1.786vw, 20px);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer_contacts a{
    text-decoration: none;
    color: #000;
}
.footer_contacts img{
    width:clamp(10px,2.551vw, 28.57px);
    margin-right: clamp(3px,0.982vw, 11px);
}
.ytub{
    padding-top:clamp(1px,0.714vw,7px);   
}
.gps{
    position: inherit;
    margin-bottom:clamp(10px,5.357vw,60px) ;
}

.left_footer_grid  {
    display: grid;
    grid-area: A;
    justify-items: start;
    justify-content: center;
    grid-template-rows: 66.6% 33.4%;

} 
.center_footer_grid {
    display: grid;
    grid-area: B;
justify-content: center;
} 
.right_footer_grid {
    display: grid;
    grid-area: C;
    display: grid;
    justify-content: end;
  
} 
.show-mobile{
    display: none;
}




/* МОДАЛЬНЫЕ ОКНА */


/* Контейнер для модального окна */
.modal-container {
    display: none; /* Скрыть по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto; /* Позволяем прокручивать модальное окно при большом контенте */
    padding: 10px; /* Для небольшого отступа на мобильных устройствах */
}

/* Содержимое модального окна */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px; /* Максимальная ширина */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto; /* Центрирование */
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}


.br{
    display: none;
}

/* Мобильные стили */













/* IFRAME BITRIX */

    /* Стили для модального окна */

    .crm-form-iframe{
        width:100%;
         height:00px;
        overflow:hidden; 
       
    }
   
    .modal {
        display: none; /* Скрываем модальное окно по умолчанию */
        position: fixed; /* Фиксированное положение */
        z-index: 1; /* Поверх всех элементов */
        left: 0;
        top: 0;
        width: 100%; /* Полная ширина */
        height: 100%; /* Полная высота */
       overflow: hidden;  /* Включаем прокрутку, если контент превышает высоту окна */
        background-color: rgb(0,0,0); /* Цвет фона */
        background-color: rgba(0,0,0,0.4); /* Прозрачный черный фон */
    }

    /* Стили для содержимого модального окна */
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto; /* 15% от верхнего края и центрирование */
        padding: 20px;
        border: 1px solid #888;
        /* width: 150%;  */
        
        overflow: hidden;
    }

    /* Стили для кнопки закрытия */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }